* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

#start-screen .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}
body {
  font-family: 'Tourney', cursive;
  background-color: #202020;
  overflow: hidden;
}

#start-screen h1 {
  font-size: 3.5rem;
  color: #be5a38;
  text-align: center;
}

#start-screen h2 {
  font-family: 'Tourney', cursive;
  color: #be5a38;
  font-size: 2rem;
}

#start-screen #start-btn:hover {
  color: #fbffb9;
  box-shadow: 0 0.5em 0.5em -0.6em #fbffb9;
  transform: translateY(-0.1em);
}

#game-screen {
  position: relative;
}

#game-screen .container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
#game-screen #game-container {
  max-width: 500px;
  width: 95%;
  margin: 2.5em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
#game-screen #game-container div {
  background-color: #be5a3866;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  height: 120px;
  margin: 0.4em;
  flex-basis: 22%;
  transition: all 0.2s ease-in;
}
#game-screen #game-container div:hover {
  background-color: #be5a38aa;
}

#game-screen #score {
  margin-top: 1em;
  color: #be5a38;
  font-size: 2rem;
}

#game-screen h2 {
  color: #be5a38;
}
#game-screen #overlay h1 {
  font-size: 2.5rem;
  color: #be5a38;
  padding: 0.3em 1em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-screen #overlay h2 {
  font-size: 1.8rem;
  color: #be5a38;
  padding: 0.3em 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#game-screen #overlay h3 {
  font-size: 1.5rem;
  background-color: transparent;
  color: #be5a38;
  border: 1px solid;
  padding: 0.3em 1em;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 481px) {
  #game-screen #game-container div {
    flex-basis: 21.5%;
    height: 100px;
  }
  #game-screen #overlay h1 {
    font-size: 1.6rem;
  }
  #game-screen #overlay h2 {
    font-size: 1rem;
  }
  #game-screen #overlay h3 {
    font-size: 1rem;
  }
  #game-screen #score {
    font-size: 1.5rem;
  }
}
@media (max-width: 384px) {
  #game-screen #game-container div {
    flex-basis: 20%;
    height: 90px;
  }
}
@media (max-width: 270px) {
  #game-screen #game-container div {
    flex-basis: 18%;
    height: 90px;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  cursor: pointer;
}

#start-screen #start-btn {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  color: #be5a38;
  border: 2px solid;
  padding: 0.3em 1em;
  font-family: 'Tourney', cursive;
  transition: all 0.15s ease-in;
}

#restart-btn {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  color: #be5a38;
  border: 2px solid;
  padding: 0.3em 1em;
  font-family: 'Tourney', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease-in;
}
#restart-btn:hover {
  color: #fbffb9;
  box-shadow: 0 0.5em 0.6em -0.6em #fff;
}

#home-btn {
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 1em;
  border: 1px solid #be5a38;
  padding: 0.2em 1em;
  color: #be5a38;
}
#home-btn:hover {
  cursor: pointer;
  color: #fbffb9;
  border-color: #fbffb9;
  box-shadow: 0 0.5em 0.5em -0.6em #fbffb9;
  transform: translateY(-0.1em);
}

img {
  width: 100%;
  height: 100%;
  display: none;
}
